asgiref==3.10.0
dj-database-url==3.0.1
Django==6.0b1
django-filter==24.3
djangorestframework==3.16.1
gunicorn==26.0.0
packaging==26.2
psycopg2-binary==2.9.11
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.12.0
