{% extends "base.html" %}
{% load static %}

{% block title %}Bodycare - INCI Preferences{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}
    <section class="main-section">
        <h2>Bodycare</h2>
        
        <div class="categories-container">

            <a href="#" class="category-card">
                <img src="{% static 'images/bodycare/shower.jpg' %}" alt="Shower">
                <p>Shower</p>
            </a>

            <a href="#" class="category-card">
                <img src="{% static 'images/bodycare/lotion.jpg' %}" alt="Lotion">
                <p>Lotion, Oils etc</p>
            </a>
            
            <a href="#" class="category-card">
                <img src="{% static 'images/bodycare/hand.jpg' %}" alt="hand">
                <p>Hand cream</p>
            </a>

        </div>
    </section>
{% endblock %}