{% extends "base.html" %}
{% load static %}

{% block title %}Makeup - INCI Preferences{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}
    <section class="main-section">
        <h2>Makeup</h2>
        
        <div class="categories-container">
            <a href="#" class="category-card">
                <img src="{% static 'images/makeup/face.jpg' %}" alt="Face">
                <p>Face</p>
            </a>

            <a href="#" class="category-card">
                <img src="{% static 'images/makeup/eyes.jpg' %}" alt="Eyes">
                <p>Eyes</p>
            </a>
            
            <a href="#" class="category-card">
                <img src="{% static 'images/makeup/cheeks.jpg' %}" alt="Cheeks">
                <p>Cheeks</p>
            </a>

            <a href="#" class="category-card">
                <img src="{% static 'images/makeup/lips.jpg' %}" alt="Lips">
                <p>Lips</p>
            </a>

        </div>
    </section>
{% endblock %}