{% extends "base.html" %}
{% load static %}

{% block title %}Skincare - INCI Preferences{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}
    <section class="main-section">
        <h2>Skincare</h2>

        <div class="categories-container">
            <a href="{% url 'skincare_cleanser' %}" class="category-card">
                <img src="{% static 'images/skincare/cleanser.jpg' %}">
                <p>Cleanser</p>
            </a>

            <a href="{% url 'skincare_moisturizer' %}" class="category-card">
                <img src="{% static 'images/skincare/moisturizer.jpg' %}">
                <p>Moisturizer</p>
            </a>

            <a href="{% url 'skincare_sunscreen' %}" class="category-card">
                <img src="{% static 'images/skincare/spf.jpg' %}" alt="Sunscreen">
                <p>Sunscreen</p>
            </a>

            <a href="{% url 'skincare_serum' %}" class="category-card">
                <img src="{% static 'images/skincare/serum.jpg' %}" alt="Serum">
                <p>Serum</p>
            </a>

            <a href="{% url 'skincare_toner' %}" class="category-card">
                <img src="{% static 'images/skincare/toner.jpg' %}" alt="Toner">
                <p>Toner</p>
            </a>

        </div>
    </section>
{% endblock %}