{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}INCI Preferences{% endblock %}
    </title>

    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
    <nav>
        <div class="nav-top">
            <h1><a href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 2rem; vertical-align: middle; margin-bottom:8px;">INCI Preferences
            </a></h1>
            <button class="hamburger" onclick="toggleMenu()" aria-label="Menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <ul id="nav-links">
            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'categories' %}">Categories</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'addcosmetic' %}">Add</a></li>
                <li><a href="/scan/">Scan</a></li>
                <li><a href="{% url 'favorites' %}">Favorites</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'users:logout' %}" class="logout-btn">Logout</a></li>
            {% else %}
                <li><a href="{% url 'users:login' %}" class="login-btn">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

    <main>
        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    {% block extra_js %}{% endblock %}

<script>
function toggleMenu() {
    document.getElementById('nav-links').classList.toggle('open');
    document.querySelector('.hamburger').classList.toggle('active');
}
</script>
</body>
</html>