{% extends "base.html" %}
{% load static %}

{% block title %}Bodycare - INCI Preferences{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}
    <section class="main-section">
        <h2>Bodycare</h2>
        
        <div class="categories-container">
            <a href="#" class="category-card">
                <img src="{% static 'images/bodycare/bodycare1.jpg' %}" alt="1">
                <p>Lotions</p>
            </a>
            
            <a href="#" class="category-card">
                <img src="{% static 'images/bodycare/bocdycare2.jpg' %}" alt="2">
                <p>Shower gels</p>
            </a>
            
            <a href="#" class="category-card">
                <img src="{% static 'images/bodycare/bodycare3.jpg' %}" alt="3">
                <p>Hand creams</p>
            </a>
        </div>
    </section>
{% endblock %}