{% extends "base.html" %}
{% load static %}

{% block title %}Categories INCI Preferences{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}
    <section class="main-section">
        <h2>Categories</h2>

        <div class="categories-container">
            <a href="{% url 'skincare' %}" class="category-card">
                <div class="category-card-circle">
                    <img src="{% static 'images/category-skincare.png' %}" alt="Skincare">
                </div>
                <p>Skincare</p>
            </a>

            <a href="{% url 'makeup' %}" class="category-card">
                <div class="category-card-circle">
                    <img src="{% static 'images/category-makeup.png' %}" alt="Makeup">
                </div>
                <p>Makeup</p>
            </a>

            <a href="{% url 'bodycare' %}" class="category-card">
                <div class="category-card-circle">
                    <img src="{% static 'images/category-bodycare.png' %}" alt="Bodycare">
                </div>
                <p>Bodycare</p>
            </a>
        </div>
    </section>
{% endblock %}