{% extends 'base.html' %}
{% load static %}

{% block title %}Registration INCI Preferences{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="auth-form">
        <h2>Register</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-primary">Register</button>
        </form>

        <p class="auth-link">
            Have an account? <a href="{% url 'users:login' %}">Log in here</a>
        </p>
    </div>
</div>
{% endblock %}